apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-api
  template:
    metadata:
      labels:
        app: notes-api
    spec:
      containers:
        - name: notes-api
          image: atikin1234/devops8:latest
          ports:
            - containerPort: 5000
          env:
            - name: ConnectionString
              value: "mongodb://mongo:27017"
            - name: DatabaseNabe
              value: "Devops8"
---
apiVersion: v1
kind: Service
metadata:
  name: notes-api
spec:
  type: NodePort   
  selector:
    app: notes-api
  ports:
    - port: 80           
      targetPort: 5000   
      nodePort: 30000    
